/*
=============== 
Fonts
===============
*/
$default-font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
/*
=============== 
COLORS
===============
*/
$primary-color: #051937;
$secondary-color: #cbcbcb;
$secondary-color-light: #fbf9f9;
$text-color: #524748;
$white: #fff;
$black: #000;
$off-white: #f2f4f5;
/*
=============== 
VARIABLES
===============
*/
$section: 4rem 0 2rem 0;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

/*
====================================
Global Styles
====================================
*/

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: $default-font;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

p {
  color: $text-color;
  font-weight: 400;
  line-height: 1.35;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1.125rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=====================================================
Global Classes 
=====================================================
*/

/*============== Section ================*/
.section {
  padding: 4rem 0;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: $primary-color;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.active-section {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    position: relative;
    bottom: 0.05em;
    background-color: $black;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
  }

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $secondary-color-light;
  }
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

/*============== Header / Nav ================*/
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;

  /** Personal Brand Logo ***/
  .logo {
    display: flex;
    align-items: center;
    justify-items: center;
    animation: animate 1s 1.5s ease 1 both;
    a {
      color: $secondary-color;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 1.5px;

      &:hover {
        color: $secondary-color-light;
      }
    }
  }

  /*============== Nav ================*/
  .nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1300px;
      height: 80px;
      margin: 0 auto;
      padding: 0 50px;
      transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
    }

    &__list {
      display: flex;
      align-items: center;
      transition: 0.5s;
    }

    &__item {
      &:hover {
        color: $secondary-color-light;
        cursor: pointer;

        a::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -0.5rem;
          background-color: $secondary-color-light;
          transition: transform 250ms ease-in-out;
          transform-origin: 0% 50%;
        }
      }
    }

    &__link {
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
      height: 100%;
      text-decoration: none;
      transition: all 0.3s ease;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;

      &:nth-child(1) {
        animation: animate 1.7s 1.8s ease 1 both;
      }

      &:nth-child(2) {
        animation: animate 0.2s 1.4s ease 1 both;
      }

      &:nth-child(3) {
        animation: animate 0.2s 1.7s ease 1 both;
      }

      &:nth-child(4) {
        animation: animate 0.2s 2s ease 1 both;
      }

      &:hover {
        color: $secondary-color-light;
      }
    }

    /*============== Animations ================*/

    @keyframes animate {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .nav-toggle {
      position: absolute;
      top: 30px;
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: none;
      span {
        background-color: $white;
        width: 25px;
        height: 3px;
        margin: 2px;
        border-radius: 10px;
      }
    }
  }
}

/*============== Active Menu ================*/
.active-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $secondary-color-light;
  }
}

/*============== Change background header ================*/
.scroll-header {
  background-color: $primary-color;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.scroll-header .nav__link {
  color: $secondary-color;
  &:hover {
    color: $secondary-color-light;
  }
}

.scroll-header #logo {
  color: $secondary-color-light;
}

.scroll-header .active-link {
  &::after {
    background-color: $secondary-color-light;
  }
}

/*
=====================================================
Home Section
=====================================================
*/

.home {
  background-color: $black;
  overflow: hidden;
}

.home__container {
  position: relative;
  // height: calc(100vh - 6rem);
  margin: 0 auto;
  margin-top: 5rem;

  // NEW STYLES
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.home-content {
  position: relative;
  color: $secondary-color-light;
  z-index: 5;
  margin-left: 1.5rem;

  &__container {
    border-left: 4px solid $white;
    padding-left: 2.5rem;
  }

  .home__name {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .home__profession {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding-left: 0.15rem;
  }

  .button {
    display: inline-block;
    background-color: $primary-color;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      transition: 0.5s;
    }
  }
}

.home__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.home__social {
  position: relative;
  z-index: 2;
  display: flex;
  padding-left: 1rem;
  flex-direction: column;

  margin-top: 2rem;
  margin-left: 2.5rem;
}

.fa-linkedin,
.fa-github,
.fa-envelope-square {
  color: $secondary-color-light;
  margin-left: 1rem;

  &:hover {
    color: $secondary-color;
    transform: translateY(-5px);
    transition: 0.5s;
  }
}

.home__social-icon {
  width: max-content;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*
============================================================
About Section
============================================================
*/

#about {
  display: grid;
  justify-items: center;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
}

#profile-pic {
  width: 300px;
  height: auto;
}

.about__container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 1rem 0 1rem;
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.about__data {
  display: grid;
  width: calc(100% - 2rem);

  .about__description {
    margin-top: 1.5rem;
    padding: 0 8em;
  }

  .about__description--newline {
    margin-top: 1rem;
  }

  .about__sub-desc {
    text-align: center;
    margin-top: 0.25rem;
    padding: 0 2rem;
  }

  .tech__stack {
    margin-top: 2rem;

    .about__description--tech {
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      font-weight: 500;
      text-align: center;
      color: $black;
      font-size: 1.25rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      justify-content: center;
      list-style-type: disc !important;
      list-style: disc !important;
      padding: 0 15px;

      &__item {
        margin: 0.25rem 0;
        color: $black;
        width: 100%;
        font-family: inherit;
        position: relative;
        font-weight: 400;

        justify-content: center;
        list-style-position: inside;
      }
    }
  }
}

/*
============================================================
Projects Section
============================================================
*/
#projects {
  background-color: $black;
}

.projects-title {
  color: $white;
}

.projects__container {
  display: grid;
  justify-items: center;
}

.project__item {
  display: grid;
  align-items: center;
  display: grid;
  width: calc(100% - 2rem);
  margin-bottom: 6rem;
}

.img-container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.project-img {
  width: 100%;
  max-width: 500px;
  &:hover {
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.02);
  }
}

.links-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  display: inline-block;
  background-color: $primary-color;
  padding: 0.75rem 5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transition: 0.5s;
  }
}

.project-content {
  padding: 0 14rem;

  .project-name {
    color: $white;
    margin-bottom: 1.5rem;
  }

  .project-description {
    color: $secondary-color;
  }

  .used {
    margin-top: 2rem;

    &__item {
      display: inline-block;
      padding: 7px 7px 5px;
      margin-right: 5px;
      margin-bottom: 10px;
      color: $secondary-color-light;
      background: #333;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}

.weblink {
  // text-decoration: underline;
  color: $secondary-color-light;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  font-weight: 400;

  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    position: relative;
    bottom: 0.19em;
    background-color: $secondary-color-light;
    transition: $transition;
    opacity: 0.75;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    width: 100%;
  }
}

.weblink--black {
  color: $text-color;
  font-weight: 500;

  &::after {
    background-color: $text-color;
  }
}

/*
============================================================
Footer 
============================================================
*/

.footer {
  background-color: $primary-color;

  &__title {
    color: $secondary-color-light;
  }

  &__description {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

    .footer__sub-des {
      margin-bottom: 2rem;
      color: $secondary-color;
    }
  }

  &__social-icon {
    width: max-content;
    font-size: 2rem;
  }

  .fab,
  .fas {
    color: $secondary-color-light;
    margin: 0 0.25rem;

    &:hover {
      color: $secondary-color;
      transform: translateY(-5px);
      transition: 0.5s;
    }
  }

  .website__rights {
    font-size: 1rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    color: $secondary-color;
  }
}

.footer__description .footer__sub-des {
  padding: 0 1rem;
}

/*
============================================================
Popup Modal
============================================================
*/
.center {
  transform: translate(0%, -50%);
}

.popup {
  margin-top: -400px;
  margin-bottom: -600px;
  width: 60vw;
  padding: 30px 20px;
  // height: 50vh;
  background: $secondary-color-light;
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(0%, -50%) scale(0.5);
  transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    transform 1s ease-in-out;

  .title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-weight: 600;
  }

  .close-btn {
    margin-top: 15px;
  }

  .close-btn button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 0.5rem;
    border-style: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.active {
  margin-top: 0;
  opacity: 1;
  top: 50%;
  transform: translate(0%, -50%) scale(1);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

#open-popup-btn {
  margin-top: 1rem;
  cursor: pointer;
  border-style: none;
  outline: none;
  font-size: 1rem;
}

.demo-video {
  padding: 3rem 3rem 1.5rem 3rem;
}

/*
============================================================
Mobile Devices 
============================================================
*/
@media screen and (max-width: 960px) {
  /*============== Header / Nav ================*/
  .section-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  header .nav .nav-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    // z-index: 99;
  }

  header,
  .scroll-header {
    background-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  header .logo {
    position: absolute;
    top: 20px;
    left: 1rem;

    a {
      color: $white;
    }
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
  }

  .nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: $black;
  }

  header .nav__list {
    position: absolute;
    display: none;
    top: 80px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    transition: 0.4s;
    text-align: center;
    border: 0 0 2rem 2rem;
    background-color: $black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav__item {
    padding: 1rem;
    width: 100%;
    // color: $white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
      color: $secondary-color;

      a::after {
        visibility: hidden;
      }
    }
  }

  header .nav__link {
    width: 100%;
    color: $secondary-color-light;
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: none;
    font-size: 1.1rem;

    &:hover {
      color: $secondary-color;
    }
  }

  header .nav__list.nav-active {
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  header .nav__link:nth-child(1) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(2) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(3) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(4) {
    animation: animate 0.15s ease-in 1 both;
  }

  .active-link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.7rem;
      left: 45%;
      width: 10%;
      height: 3px;
      background-color: #a7aabd;
    }
  }

  /*============== Home ================*/

  .home__container {
    height: 100vh;
    margin: 4rem 0 0 0;
  }

  .home-content {
    .home__name {
      font-size: 4rem;
      letter-spacing: 3px;
    }

    .home__profession {
      margin-top: 0.25rem;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .home__profession {
      display: block;
      font-weight: bold;
    }

    .home__profession {
      font-size: 0.938rem;
      margin-bottom: 1.5rem;
    }
  }

  .home__background {
    bottom: 5px;
    z-index: 0;

    img {
      min-width: 450px;
    }
  }

  .home__social {
    margin-top: 5rem;
    flex-direction: column;
  }

  /*============== About ================*/
  #profile-pic {
    width: 250px;
    height: auto;
  }

  .about__data .about__description,
  .about__sub-desc {
    margin: 0;
    padding: 0 2rem;
  }

  .about__data .about__description--newline {
    margin-top: 1.25rem;
  }

  // .about__data .tech__stack .skills__item {
  //   padding-left: 5px;
  // }

  /*============== Projects ================*/
  .project-content {
    padding: 0 4rem;
    &__item {
      padding: 0 4rem;
    }
  }

  .links-container {
    grid-template-columns: 1fr;

    .link {
      text-align: center;
    }
  }

  .popup {
    margin-bottom: -400px;
  }
}

@media screen and (max-width: 425px) {
  .home__container {
    display: grid;
  }

  .home-content {
    margin-top: 100px;
  }

  .home__social {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .skills__item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .home-content__container {
    padding-left: 1rem;
  }
}
