/*
=============== 
Fonts
===============
*/
/*
=============== 
COLORS
===============
*/
/*
=============== 
VARIABLES
===============
*/
/*
====================================
Global Styles
====================================
*/
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

p {
  color: #524748;
  font-weight: 400;
  line-height: 1.35;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1.125rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=====================================================
Global Classes 
=====================================================
*/
/*============== Section ================*/
.section {
  padding: 4rem 0;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #051937;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.active-section {
  position: relative;
  position: relative;
}

.active-section::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  position: relative;
  bottom: 0.05em;
  background-color: #000;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.5;
}

.active-section::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fbf9f9;
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

/*============== Header / Nav ================*/
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;
  /** Personal Brand Logo ***/
  /*============== Nav ================*/
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-animation: animate 1s 1.5s ease 1 both;
          animation: animate 1s 1.5s ease 1 both;
}

header .logo a {
  color: #cbcbcb;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

header .logo a:hover {
  color: #fbf9f9;
}

header .nav {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /*============== Animations ================*/
}

header .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
  transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav__item:hover {
  color: #fbf9f9;
  cursor: pointer;
}

header .nav__item:hover a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -0.5rem;
  background-color: #fbf9f9;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

header .nav__link {
  color: #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

header .nav__link:nth-child(1) {
  -webkit-animation: animate 1.7s 1.8s ease 1 both;
          animation: animate 1.7s 1.8s ease 1 both;
}

header .nav__link:nth-child(2) {
  -webkit-animation: animate 0.2s 1.4s ease 1 both;
          animation: animate 0.2s 1.4s ease 1 both;
}

header .nav__link:nth-child(3) {
  -webkit-animation: animate 0.2s 1.7s ease 1 both;
          animation: animate 0.2s 1.7s ease 1 both;
}

header .nav__link:nth-child(4) {
  -webkit-animation: animate 0.2s 2s ease 1 both;
          animation: animate 0.2s 2s ease 1 both;
}

header .nav__link:hover {
  color: #fbf9f9;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header .nav .nav-toggle {
  position: absolute;
  top: 30px;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

header .nav .nav-toggle span {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 2px;
  border-radius: 10px;
}

/*============== Active Menu ================*/
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fbf9f9;
}

/*============== Change background header ================*/
.scroll-header {
  background-color: #051937;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.scroll-header .nav__link {
  color: #cbcbcb;
}

.scroll-header .nav__link:hover {
  color: #fbf9f9;
}

.scroll-header #logo {
  color: #fbf9f9;
}

.scroll-header .active-link::after {
  background-color: #fbf9f9;
}

/*
=====================================================
Home Section
=====================================================
*/
.home {
  background-color: #000;
  overflow: hidden;
}

.home__container {
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
  height: 100vh;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home__container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.07);
}

.home-content {
  position: relative;
  color: #fbf9f9;
  z-index: 5;
  margin-left: 1.5rem;
}

.home-content__container {
  border-left: 4px solid #fff;
  padding-left: 2.5rem;
}

.home-content .home__name {
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.home-content .home__profession {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 0.15rem;
}

.home-content .button {
  display: inline-block;
  background-color: #051937;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cbcbcb;
}

.home-content .button:hover {
  background-color: #cbcbcb;
  color: #051937;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home__social {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.fa-linkedin,
.fa-github,
.fa-envelope-square {
  color: #fbf9f9;
  margin-left: 1rem;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope-square:hover {
  color: #cbcbcb;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home__social-icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*
============================================================
About Section
============================================================
*/
#about {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
}

#profile-pic {
  width: 300px;
  height: auto;
}

.about__container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 1rem 0 1rem;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.about__data {
  display: -ms-grid;
  display: grid;
  width: calc(100% - 2rem);
}

.about__data .about__description {
  margin-top: 1.5rem;
  padding: 0 8em;
}

.about__data .about__description--newline {
  margin-top: 1rem;
}

.about__data .about__sub-desc {
  text-align: center;
  margin-top: 0.25rem;
  padding: 0 2rem;
}

.about__data .tech__stack {
  margin-top: 2rem;
}

.about__data .tech__stack .about__description--tech {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #000;
  font-size: 1.25rem;
}

.about__data .tech__stack .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 200px))[2];
      grid-template-columns: repeat(2, minmax(140px, 200px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: disc !important;
  list-style: disc !important;
  padding: 0 15px;
}

.about__data .tech__stack .skills__item {
  margin: 0.25rem 0;
  color: #000;
  width: 100%;
  font-family: inherit;
  position: relative;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-position: inside;
}

/*
============================================================
Projects Section
============================================================
*/
#projects {
  background-color: #000;
}

.projects-title {
  color: #fff;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.project__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  width: calc(100% - 2rem);
  margin-bottom: 6rem;
}

.img-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.project-img {
  width: 100%;
  max-width: 500px;
}

.project-img:hover {
  -webkit-transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-filter: brightness(1.125);
          filter: brightness(1.125);
}

.links-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  display: inline-block;
  background-color: #051937;
  padding: 0.75rem 5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cbcbcb;
}

.link:hover {
  background-color: #cbcbcb;
  color: #051937;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-content {
  padding: 0 14rem;
}

.project-content .project-name {
  color: #fff;
  margin-bottom: 1.5rem;
}

.project-content .project-description {
  color: #cbcbcb;
}

.project-content .used {
  margin-top: 2rem;
}

.project-content .used__item {
  display: inline-block;
  padding: 7px 7px 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: #fbf9f9;
  background: #333;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.weblink {
  color: #fbf9f9;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  font-weight: 400;
}

.weblink::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0.19em;
  background-color: #fbf9f9;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.75;
}

.weblink:hover::after, .weblink:focus::after, .weblink:active::after {
  width: 100%;
}

.weblink--black {
  color: #524748;
  font-weight: 500;
}

.weblink--black::after {
  background-color: #524748;
}

/*
============================================================
Footer 
============================================================
*/
.footer {
  background-color: #051937;
}

.footer__title {
  color: #fbf9f9;
}

.footer__description {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer__description .footer__sub-des {
  margin-bottom: 2rem;
  color: #cbcbcb;
}

.footer__social-icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2rem;
}

.footer .fab,
.footer .fas {
  color: #fbf9f9;
  margin: 0 0.25rem;
}

.footer .fab:hover,
.footer .fas:hover {
  color: #cbcbcb;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .website__rights {
  font-size: 1rem;
  margin-top: 1rem;
  color: #cbcbcb;
}

.footer__description .footer__sub-des {
  padding: 0 1rem;
}

/*
============================================================
Popup Modal
============================================================
*/
.center {
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.popup {
  margin-top: -400px;
  margin-bottom: -600px;
  width: 60vw;
  padding: 30px 20px;
  background: #fbf9f9;
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  -webkit-transform: translate(0%, -50%) scale(0.5);
          transform: translate(0%, -50%) scale(0.5);
  -webkit-transition: opacity 0.3s ease-in-out, top 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 0.3s ease-in-out, top 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 0.3s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.popup .title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 30px;
  font-weight: 600;
}

.popup .close-btn {
  margin-top: 15px;
}

.popup .close-btn button {
  padding: 10px 20px;
  background-color: #051937;
  color: #cbcbcb;
  border-radius: 0.5rem;
  border-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.popup .close-btn button:hover {
  background-color: #cbcbcb;
  color: #051937;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.active {
  margin-top: 0;
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0%, -50%) scale(1);
          transform: translate(0%, -50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

#open-popup-btn {
  margin-top: 1rem;
  cursor: pointer;
  border-style: none;
  outline: none;
  font-size: 1rem;
}

.demo-video {
  padding: 3rem 3rem 1.5rem 3rem;
}

/*
============================================================
Mobile Devices 
============================================================
*/
@media screen and (max-width: 960px) {
  /*============== Header / Nav ================*/
  .section-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  header .nav .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: absolute;
  }
  header,
  .scroll-header {
    background-color: black;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  header .logo {
    position: absolute;
    top: 20px;
    left: 1rem;
  }
  header .logo a {
    color: #fff;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-weight: 500;
  }
  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    background-color: #000;
  }
  header .nav__list {
    position: absolute;
    display: none;
    top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-align: center;
    border: 0 0 2rem 2rem;
    background-color: #000;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav__item {
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .nav__item:hover {
    color: #cbcbcb;
  }
  .nav__item:hover a::after {
    visibility: hidden;
  }
  header .nav__link {
    width: 100%;
    color: #fbf9f9;
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: none;
    font-size: 1.1rem;
  }
  header .nav__link:hover {
    color: #cbcbcb;
  }
  header .nav__list.nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  header .nav__link:nth-child(1) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(2) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(3) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(4) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  .active-link {
    position: relative;
  }
  .active-link::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 45%;
    width: 10%;
    height: 3px;
    background-color: #a7aabd;
  }
  /*============== Home ================*/
  .home__container {
    height: 100vh;
    margin: 4rem 0 0 0;
  }
  .home-content .home__name {
    font-size: 4rem;
    letter-spacing: 3px;
  }
  .home-content .home__profession {
    margin-top: 0.25rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .home-content .home__profession {
    display: block;
    font-weight: bold;
  }
  .home-content .home__profession {
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
  }
  .home__background {
    bottom: 5px;
    z-index: 0;
  }
  .home__background img {
    min-width: 450px;
  }
  .home__social {
    margin-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*============== About ================*/
  #profile-pic {
    width: 250px;
    height: auto;
  }
  .about__data .about__description,
  .about__sub-desc {
    margin: 0;
    padding: 0 2rem;
  }
  .about__data .about__description--newline {
    margin-top: 1.25rem;
  }
  /*============== Projects ================*/
  .project-content {
    padding: 0 4rem;
  }
  .project-content__item {
    padding: 0 4rem;
  }
  .links-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .links-container .link {
    text-align: center;
  }
  .popup {
    margin-bottom: -400px;
  }
}

@media screen and (max-width: 425px) {
  .home__container {
    display: -ms-grid;
    display: grid;
  }
  .home-content {
    margin-top: 100px;
  }
  .home__social {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .skills__item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .home-content__container {
    padding-left: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */