/*
=============== 
Fonts
===============
*/
/*
====================================
Variables
====================================
*/
/*
====================================
Global Styles
====================================
*/
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1.125rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=====================================================
Global Classes 
=====================================================
*/
/*============== Section ================*/
.section {
  padding: 4rem 0 2rem 0;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #051937;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

/*============== Header / Nav ================*/
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;
  /** Personal Brand Logo ***/
  /*============== Nav ================*/
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-animation: animate 0.2s 0.8s ease 1 both;
          animation: animate 0.2s 0.8s ease 1 both;
}

header .logo a {
  color: #a7aabd;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

header .nav {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
  transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
  background-color: transparent;
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav__item:hover {
  color: #fbf9f9;
}

header .nav__link {
  color: #a7aabd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

header .nav__link:nth-child(1) {
  -webkit-animation: animate 0.2s 1.1s ease 1 both;
          animation: animate 0.2s 1.1s ease 1 both;
}

header .nav__link:nth-child(2) {
  -webkit-animation: animate 0.2s 1.4s ease 1 both;
          animation: animate 0.2s 1.4s ease 1 both;
}

header .nav__link:nth-child(3) {
  -webkit-animation: animate 0.2s 1.7s ease 1 both;
          animation: animate 0.2s 1.7s ease 1 both;
}

header .nav__link:nth-child(4) {
  -webkit-animation: animate 0.2s 2s ease 1 both;
          animation: animate 0.2s 2s ease 1 both;
}

header .nav__link:hover {
  color: #fbf9f9;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header .nav .nav-toggle {
  position: absolute;
  top: 30px;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

header .nav .nav-toggle span {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 2px;
  border-radius: 10px;
}

/*============== Active Menu ================*/
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fbf9f9;
}

/*============== Change background header ================*/
.scroll-header {
  background-color: #051937;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.scroll-header .nav__link {
  color: #a7aabd;
}

.scroll-header .nav__link:hover {
  color: #fbf9f9;
}

.scroll-header .active-link::after {
  background-color: #fbf9f9;
}

/*
=====================================================
Mobile Devices 
=====================================================
*/
@media screen and (max-width: 960px) {
  header .nav .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: absolute;
  }
  header,
  .scroll-header {
    background-color: black;
  }
  header .logo {
    position: absolute;
    top: 20px;
    left: 1rem;
  }
  header .logo a {
    color: white;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    background-color: #000;
  }
  header .nav__list {
    position: absolute;
    display: none;
    top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-align: center;
    border: 0 0 2rem 2rem;
    background-color: #000;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav__item {
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  header .nav__link {
    width: 100%;
    color: #fbf9f9;
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: none;
    font-size: 1.1rem;
  }
  header .nav__link:hover {
    color: #a7aabd;
  }
  header .nav__list.nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  header .nav__link:nth-child(1) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(2) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(3) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  header .nav__link:nth-child(4) {
    -webkit-animation: animate 0.15s ease-in 1 both;
            animation: animate 0.15s ease-in 1 both;
  }
  .active-link {
    position: relative;
  }
  .active-link::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 45%;
    width: 10%;
    height: 3px;
    background-color: #a7aabd;
  }
}

/*
=====================================================
Introduction Section
=====================================================
*/
.intro {
  position: relative;
  background-color: #000;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20% 0 5% 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.intro-content h1 {
  letter-spacing: 3px;
  -webkit-animation: animate 0.2s 1.9s ease-in 1 both;
          animation: animate 0.2s 1.9s ease-in 1 both;
}

.intro-content p {
  margin-top: 0.25rem;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-animation: animate 0.4s 2.4s ease-in 1 both;
          animation: animate 0.4s 2.4s ease-in 1 both;
}
/*# sourceMappingURL=styles.css.map */