/*
=============== 
Fonts
===============
*/

/*
====================================
Variables
====================================
*/

// FONTS
$default-font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// COLORS
$primary-color: #051937;
$secondary-color: #a7aabd;
$secondary-color-light: #fbf9f9;
$text-color: #524748;
$white: #fff;
$black: #000;
$off-white: #f2f4f5;
// section padding
$section: 4rem 0 2rem 0;

/*
====================================
Global Styles
====================================
*/

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: $default-font;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

p {
  color: $text-color;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1.125rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=====================================================
Global Classes 
=====================================================
*/

/*============== Section ================*/
.section {
  padding: 4rem 0 2rem 0;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: $primary-color;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

/*============== Header / Nav ================*/
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;

  /** Personal Brand Logo ***/
  .logo {
    display: flex;
    align-items: center;
    justify-items: center;
    animation: animate 0.2s 0.8s ease 1 both;
    a {
      color: $secondary-color;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 1.5px;

      &:hover {
        color: $secondary-color-light;
      }
    }
  }

  /*============== Nav ================*/
  .nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1300px;
      height: 80px;
      margin: 0 auto;
      padding: 0 50px;
      transition: all 0.3s cubic-bezier(1, 0, 0.58, 0.97);
    }

    &__list {
      display: flex;
      align-items: center;
      transition: 0.5s;
    }

    &__item {
      &:hover {
        color: $secondary-color-light;
      }
    }

    &__link {
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      height: 100%;
      text-decoration: none;
      transition: all 0.3s ease;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;

      &:nth-child(1) {
        animation: animate 0.2s 1.1s ease 1 both;
      }

      &:nth-child(2) {
        animation: animate 0.2s 1.4s ease 1 both;
      }

      &:nth-child(3) {
        animation: animate 0.2s 1.7s ease 1 both;
      }

      &:nth-child(4) {
        animation: animate 0.2s 2s ease 1 both;
      }

      &:hover {
        color: $secondary-color-light;
      }
    }

    /*============== Animations ================*/

    @keyframes animate {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    @keyframes animate2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .nav-toggle {
      position: absolute;
      top: 30px;
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: none;
      span {
        background-color: $white;
        width: 25px;
        height: 3px;
        margin: 2px;
        border-radius: 10px;
      }
    }
  }
}

/*============== Active Menu ================*/
.active-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $secondary-color-light;
  }
}

/*============== Change background header ================*/
.scroll-header {
  background-color: $primary-color;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.scroll-header .nav__link {
  color: $secondary-color;
  &:hover {
    color: $secondary-color-light;
  }
}

.scroll-header #logo {
  color: $secondary-color-light;
}

.scroll-header .active-link {
  &::after {
    background-color: $secondary-color-light;
  }
}

/*
=====================================================
Home Section
=====================================================
*/

.home {
  background-color: $black;
  overflow: hidden;
}

.home__container {
  position: relative;
  height: calc(100vh - 6rem);
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 1rem;
  margin: 0 4rem 0 4rem;
}

.intro-content {
  position: relative;
  margin-top: 100px;
  margin-left: 2rem;
  border-left: 4px solid $white;
  color: $secondary-color-light;
  padding-left: 2.5rem;
  z-index: 1;

  .home__name {
    margin-top: 2rem;
    font-size: 3.2rem;
    letter-spacing: 3px;
  }

  .home__profession {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }

  .button {
    display: inline-block;
    background-color: $primary-color;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: $secondary-color-light;
    }
  }
}

.home__img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 5px;
  z-index: 0;

  img {
    height: 100%;
    max-width: 500px;
  }
}

.home__social {
  position: relative;
  z-index: 2;
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  margin-top: 10rem;
}

.fa-linkedin,
.fa-github {
  color: $secondary-color-light;
  margin-left: 1rem;

  &:hover {
    color: $secondary-color;
    transform: translateY(-5px);
  }
}

.home__social-icon {
  width: max-content;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*
============================================================
About Section
============================================================
*/

#about {
  display: grid;
  justify-items: center;
}

.greeting {
  font-size: 1.6rem;
  font-weight: 700;
}

#profile-pic {
  width: 400px;
  height: auto;
}

.about__container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 1rem 0 1rem;
  display: grid;
  gap: 1.5rem;
}

.about__data {
  display: grid;
  text-align: center;
  justify-items: center;
  width: calc(100% - 2rem);
}

.about__description {
  margin-top: 1.5rem;
}

.sub-desc {
  margin-top: 1rem;
}

/*
============================================================
Mobile Devices 
============================================================
*/
@media screen and (max-width: 960px) {
  /*============== Header / Nav ================*/
  .section-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  header .nav .nav-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    // z-index: 99;
  }

  header,
  .scroll-header {
    background-color: black;
  }

  header .logo {
    position: absolute;
    top: 20px;
    left: 1rem;

    a {
      color: $white;
    }
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: $black;
  }

  header .nav__list {
    position: absolute;
    display: none;
    top: 80px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    transition: 0.4s;
    text-align: center;
    border: 0 0 2rem 2rem;
    background-color: $black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav__item {
    padding: 1rem;
    width: 100%;
    // color: $white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  header .nav__link {
    width: 100%;
    color: $secondary-color-light;
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: none;
    font-size: 1.1rem;

    &:hover {
      color: #a7aabd;
    }
  }

  header .nav__list.nav-active {
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  header .nav__link:nth-child(1) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(2) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(3) {
    animation: animate 0.15s ease-in 1 both;
  }

  header .nav__link:nth-child(4) {
    animation: animate 0.15s ease-in 1 both;
  }

  .active-link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.7rem;
      left: 45%;
      width: 10%;
      height: 3px;
      background-color: #a7aabd;
    }
  }

  /*============== Home ================*/
  // .home {
  //   height: 100vh;
  // }

  .home__container {
    height: 100vh;
    margin: 4rem 0 0 0;
  }

  .intro-content {
    .home__name {
      font-size: 4rem;
      letter-spacing: 3px;
    }

    .home__profession {
      margin-top: 0.25rem;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .home__profession {
      display: block;
      font-weight: bold;
    }

    .home__profession {
      font-size: 0.938rem;
      margin-bottom: 1.5rem;
    }
  }

  .home__img {
    bottom: 5px;
    z-index: 0;

    img {
      min-width: 450px;
    }
  }

  .home__social {
    margin-top: 5rem;
  }

  /*============== About ================*/
  #profile-pic {
    width: 250px;
    height: auto;
  }
}
